.employee-card {
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    margin : 2px;
    text-align: center;
}

.grid-employees{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:10px;
    margin: 2px;
}

.heading {
    text-align: center;
}

.pagination{
    text-align: center;
    margin-top: 15px;
}

.header-bar { 
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 10px;
}

.employee-form{
    margin: 40px auto;
    padding: 30px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.formFooter{
    display: inline;
}


.searchContainer{
    display: flex;
    justify-content: space-evenly;

}